<div class = "container">

  <div class = "container row mt-5">
    <div class="row mb-3">
        <div class="row col">
          <%= link_to "バージョン新規作成", move_version_create_path, class: "btn btn-success" %>
        </div>
        <div class="row col">
          <%= link_to "利用規約の更新", move_terms_create_path, class: "btn btn-success" %>
        </div>
        <div class="row col">
          <%= link_to "プライバシーポリシーの更新", move_privacy_create_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col">
      <%= link_to "ユーザー", user_list_path, class: "btn btn-warning" %>
    </div>

    <div class="col">
      <%= link_to "バナー", banners_index_path, class: "btn btn-warning" %>
    </div>

    <div class="col">
      <%= link_to "お知らせ", notice_index_path, class: "btn btn-warning" %>
    </div>

    <div class="col">
      <%= link_to "プラットフォーム", platform_list_path, class: "btn btn-warning" %>
    </div>

    <div class="col">
      <%= link_to "ログイン履歴", login_history_index_path, class: "btn btn-warning" %>
    </div>
  </div>


  <div class="table-responsive">
    <h4>Version</h4>
    <table class="table table-dark table-striped-columns table-hover  table-sm" style="white-space: nowrap;">
    <th class="table-secondary">
          <tr class="text-center">
            <td>
              ID
            </td>
            <td>
              バージョン
            </td>
            <td>
              変更点
            </td>
            <td>
              created_at
            </td>
            <td>
              updated_at
            </td>
          </tr>
        </th>

        <% @versions.each do |version| %>
            <tr class="text-center">
              <td>
                <%= version.id %>
              </td>
              <td>
                <%= version.version %>
              </td>
              <td>
                <%= version.content %>
              </td>
              <td>
                <%= version.created_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
              </td>
              <td>
                <%= version.updated_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
              </td>
            </tr>
        <% end %>
    </table>
  </div>

  <div class="table-responsive">
    <h4>Term</h4>
    <table class="table table-dark table-striped-columns table-hover  table-sm" style="white-space: nowrap;">
    <th class="table-secondary">
        <tr class="text-center">
          <td>
            ID
          </td>
          <td>
            規則
          </td>
          <td>
            変更点
          </td>
          <td>
            created_at
          </td>
          <td>
            updated_at
          </td>
        </tr>
      </th>

      <% @terms.each do |term| %>
          <tr class="text-center">
            <td>
              <%= term.id %>
            </td>
            <td>
              <%= term.content %>
            </td>
            <td>
              <%= term.version %>
            </td>
            <td>
              <%= term.created_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
            </td>
            <td>
              <%= term.updated_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
            </td>
          </tr>
      <% end %>
  </table>
</div>

<div class="table-responsive">
  <h4>Privacy</h4>
  <table class="table table-dark table-striped-columns table-hover  table-sm" style="white-space: nowrap;">
  <th class="table-secondary">
        <tr class="text-center">
          <td>
            ID
          </td>
          <td>
            規則
          </td>
          <td>
            変更点
          </td>
          <td>
            created_at
          </td>
          <td>
            updated_at
          </td>
        </tr>
      </th>

      <% @privacies.each do |privacy| %>
          <tr class="text-center">
            <td>
              <%= privacy.id %>
            </td>
            <td>
              <%= privacy.content %>
            </td>
            <td>
              <%= privacy.version %>
            </td>
            <td>
              <%= privacy.created_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
            </td>
            <td>
              <%= privacy.updated_at.strftime("%Y年 %m月%d日 %H:%M:%S") %>
            </td>
          </tr>
      <% end %>
  </table>
</div>

</div>