<div class="container">
<%= form_with url: post_version_create_path, model: @version, local: true do |f| %>
        <h4 class="mt-5 mb-5">
            <b>バージョンの新規作成</b> 
        </h4>

        <div class="container mt-5 mb-5">
            <div class="container mt-5 mb-5">
                <%= f.label :version, 'バージョン' %>
                <%= f.text_field :version, required: true, class: "form-control" %>
            </div>

            <div class="container mt-5 mb-5">
                <%= f.label :content, '変更内容' %>
                <%= f.text_area :content, class: "form-control" %>
            </div>

            <div class="d-grid gap-2">
                <%= f.submit "この内容で登録する", class: "btn btn-success" %>
                <%= link_to '破棄する', :back, class: "btn btn-secondary" %>
            </div>
        </div>
    <% end %>
</div>